body {
    font-family: 'Quicksand', sans-serif;
   margin: 0;
    padding: 0;
    color: rgb(61, 61, 61);
}

h1 {
    font-size: 50px;
}

p {
    font-size: 19px;
}

.navigationBarPhone {
    display: none;
}

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgb(186, 185, 185);
    margin-bottom: 5px;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    padding: 15px 50px;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top:15px;
}
.left{
    display: flex;
    gap: 10px;
    align-items: center;
}

.saladImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navigationButtons,
.navigationButtons-chatWithAi,
.navigationButtons-mealplanner,
.navigationButtons-home,
.navigationButtons-savedPlans {
    text-decoration: none;
    color: rgb(15, 53, 15);
    background-color: white;
    border: none;
    padding: 13px 15px;
    border-radius: 13px;
    font-size: 15px;
}

.navigationButtons-chatWithAi,
.navigationButtons-mealplanner,
.navigationButtons-home,
.navigationButtons-savedPlans {
    background-color: rgb(212, 255, 212);
    color: rgb(29, 120, 4);
}

.navigationButtons:hover {
    background-color: rgb(232, 232, 232);
    color:rgb(1, 3, 1);
}

/*CHAT WITH AI PAGE*/
.ai-chat-container {
    box-shadow: 0px 0px 30px rgb(220, 218, 218);
    margin: 100px 30px;
    border-radius: 20px;
    padding: 30px;
    width: 1000px;
    padding-bottom: 100px;
}

.my-ai-chat {
    background-color: rgb(224, 234, 224);
    border-radius: 20px;
    padding: 3px 20px;
    display: inline-block;
}

hr {
    background-color: rgb(201, 201, 201);
    border: none;
    height: 0.4px;
    margin: 20px;
}

.chatBody {
    height: 400px;
}

.chat-body {
    display: flex;
    justify-content: center;
}

.chat-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    display: flex;
    flex: 1;
    margin: 50px 18px 0 18px;
    padding: 20px;
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215);
}

/* MEAL PLANNER PAGE*/
.first {
    margin-top: 120px;
    box-shadow: 0px 0px 20px rgb(236, 236, 236);
    padding: 100px;
    margin: 30px;
    border-radius: 15px;
    margin-bottom: 150px;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.each-input {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 10px;
    font-size: 16px;
}

.generate-button {
    margin-top: 20px;
    background-color: green;
    padding: 20px;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 16px;
}

.generate-button:hover {
    background-color: rgb(12, 102, 12);
}

.mealplans {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 30px;
}

.each-meal-plan {
    box-shadow: 0px 0px 15px rgb(221, 221, 221);
    padding: 30px;
    border-radius: 15px;
}

.foods {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.foods > div {
    width: 30%;
}

.each-foods {
    padding: 20px;
    box-shadow: 0px 0px 30px rgb(242, 241, 241);
    border-radius: 20px;
}

.days-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(162, 182, 156);
    padding: 40px;
}

.very-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 500px;
    padding-left: 100px;
}

/*HOME PAGE*/
.firstPage {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(228, 250, 228);
    padding-top: 100px;
    column-gap: 30px;
}

.firstImage {
    max-width: 700px;
    max-height: 800px;
    border-radius: 17px;
}

.startPlannign {
    background-color: rgb(15, 120, 15);
    border: none;
    padding: 20px 50px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: 0.3s ease;
}

.startPlannign:hover {
    background-color: white;
    color: rgb(108, 176, 108);
    transform: scale(1.05);
}

.chatwithai {
    border: 2px solid rgb(15, 120, 15);
    padding: 20px 50px;
    border-radius: 50px;
    color: green;
    font-size: 16px;
    transition: 0.3s ease;
}

.chatwithai:hover {
    background-color: rgb(15, 120, 15);
    color: white;
    transform: scale(1.05);
}

.everything {
    text-align: center;
    margin: 100px 0;
}

.row-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.each-row-boxes {
    box-shadow: 5px 5px 15px rgb(201, 201, 201);
    border-radius: 20px;
    padding: 30px;
    transition: 0.3s ease;
}

.each-row-boxes:hover {
    transform: scale(1.05);
}

.guide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 50px;
    padding-bottom: 150px;
}

.guide-each {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    background-color: rgb(221, 255, 221);
    color: rgb(3, 160, 3);
    border-radius: 50%;
    padding: 26px 34px;
    font-size: 25px;
}

.how-it-works {
    text-align: center;
    margin-top: 200px;
    padding-top: 100px;
}

.ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    row-gap: 20px;
    background-color: rgb(254, 254, 254);
    padding-bottom: 200px;
}

/*SAVED PLANS PAGE */
.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 30px;
    margin: 13px;
    border-radius: 20px;
}

.eachList {
    box-shadow: 0px 0px 20px rgb(185, 184, 184);
    padding: 40px;
    border-radius: 30px;
    transition: 0.3s ease;
    margin-bottom: 50px;
}

.eachList:hover {
    transform: scale(1.05);
}

@media (max-width: 1000px) {

    .navigationBar {
        display: none;
    }

    .navigationBarPhone {
        display: flex;
        justify-content: space-between;
        box-shadow: 4px 4px 8px rgb(192, 192, 192);
        padding: 10px 30px;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .humburger {
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }

    .humburgerButton {
        background-color: white;
        border: none;
    }

    /*meal planner */
    .inputs {
        flex-direction: column;
        display: flex;
        gap: 20px;
    }

    .foods {
        flex-direction: column;
    }

    .foods > div {
        width: 100%;
    }

    .very-bottom {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    /*home page */
    .firstPage {
        flex-direction: column;
    }

    .firstImage {
        width: 100%;
        height: auto;
    }

    .guide {
        flex-direction: column;
        gap: 30px;
    }

    .row-boxes {
        flex-direction: column;
        gap: 40px;
    }

    /* Saved plans mobile */
    .list {
        grid-template-columns: 1fr;
    }
}
